*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.album_list{
  border: 1px solid #333;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item{
  width: 100%;
  height: 50px;
  background: darkolivegreen;
  margin: 0 0 10px;
}
.hide{
  display: none;
}
.ant-form{
  text-align: left;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
