<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
		<style>
			th{
				text-align: center;
			}
			.box1{
				width: 350px;
				height: 50px;
				margin: auto;
			}
		</style>
	</head>
	<body>
	<table class="table text-center table-bordered">
		<tr>
			<th>sid</th>
			<th>所属分类</th>
			<th>标题</th>
			<th>cid</th>
			<th>作者</th>
			<th>点击数</th>
			<th>点赞数</th>
			<th>状态</th>
			<th>时间</th>
			<th>操作</th>
		</tr>
		{foreach $result as $v}
		<tr>
			<td>{$v["sid"]}</td>
			<td>{$v["cname"]}</td>
			<td>{$v["stitle"]}</td>
			<td>{$v["cid"]}</td>  
			<td>{$v["uname"]}</td>
			<td>{$v["hits"]}</td>
			<td>{$v["good"]}</td>
			<td>
				{if $v["statu"]==0}未审核
				{else if $v["statu"]==1}审核中
				{else if $v["statu"]==2}未通过
				{else if $v["statu"]==3}通过			
				{/if}
			</td>
			<td>{$v["stime"]}</td>
			<td>
				<a href="index.php?m=admin&f=art&a=info&id={$v['sid']}">查看</a>
				<a href="">删除</a>
			</td>
		</tr>
		{/foreach}
	</table>
	<div class="box1">
		{$pages}
	</div>
	</body>
</html>
