<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>博客</title>	
		<link rel="stylesheet" href="{CSS_PATH}/index/base.css" />
		<link rel="stylesheet" href="{CSS_PATH}/index/header.css" />
	</head>
	<body>
		<div id="header">
			<div id="hdbox">
				<div class="left"><a href="index.php" class="font">HUANG ZHEN</a></div>
				<ul class="right">
					<li>
						{if !empty($indexLogin)}
						<span>
							欢迎{$uname}回来
							<a href="index.php?m=index&f=login&a=logout">退出</a>
							<a href="index.php?m=index&f=my&a=init">个人中心</a>
						</span>
					</li>
					{else}
					<li><a href="index.php?m=index&f=login&a=init">登录</a></li>
					<li><a href="index.php?m=index&f=login&a=reg">注册</a></li>
					{/if}
					
					<li><a href="index.php?m=index&f=artshow&a=show">发表文章</a></li>
				</ul>
			</div>
	</div>