{include file="index/header.html"}
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
<link rel="stylesheet" href="{CSS_PATH}/mui.min.css">
<link rel="stylesheet" href="{CSS_PATH}/index/home1.css">
<div class="container main">
	<div class="row">
		
		<!--左边部分-->
		<div class="col-sm-8 main-left">
            <!--头像部分-->
            <div class="container-fluid">
                 <div class="row">
                     <div class="col-sm-3 hyx-photo">
                         <a href=""><img src="{IMG_PATH}/1.jpg" alt="" /></a>
                     </div>
                      <div class="col-sm-2 hyx-guan">
                          关注 <span>2</span>
                      </div>
                     <div class="col-sm-2 hyx-guan">
                         粉丝量<span>1</span>
                     </div>
                     <div class="col-sm-2 hyx-guan">
                         文章 <span>1</span>
                     </div>
                     <div class="col-sm-2 hyx-guan">
                         字数 <span>1</span>
                     </div>
                   	<div class="col-sm-2 hyx-guan">
                         赞<span>1</span>
                     </div>
                 </div>
            </div>
            <div class="line"></div>
            
            <!--内容-->
           <div class="container-fluid">
	           	<div class="row">
	           		<div class="col-md-2 hyx-row wen">文章</div>
	           		<div class="col-md-2 hyx-row">动态</div>
	           		<div class="col-md-2 hyx-row">最新评论</div>
	           		<div class="col-md-2 hyx-row">热门</div> 		
	           	</div>
           </div>
           
               <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <!--<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">-->
                        <div class="mui-media-body">
                            <a href="index.php?m=index&f=content&a=show&id=26">什么是html5响应式？响应式的原理是什么？</a>
                            <p class="mui-ellipsis">对不同的终端做响应，称之为响应式。</p>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <!--<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">-->
                        <div class="mui-media-body">
                         <a href="index.php?m=index&f=content&a=show&id=29">什么是事件流？</a>
                            <p class="mui-ellipsis">当一个元素事件发生时，它的父元素乃至整个页面都会以一定的顺序来响应整个事件，这个就叫事件流</p>
                        </div>
                    </a>
                </li>
                <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <!--<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">-->
                        <div class="mui-media-body">
                           <a href="index.php?m=index&f=content&a=show&id=28">javascript事件</a>
                            <p class="mui-ellipsis">什么是事件？就是用户的操作或者行为(鼠标单击，鼠标移动，键盘的操作等等）</p>
                        </div>
                    </a>
                </li>
                 <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <!--<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">-->
                        <div class="mui-media-body">
                        <a href="index.php?m=index&f=content&a=show&id=28">什么是事件源？</a>
                            <p class="mui-ellipsis">也就是事件发生在那儿元素的身上，哪个元素就是事件源</p>
                        </div>
                    </a>
                </li>
                 <li class="mui-table-view-cell mui-media">
                    <a href="javascript:;">
                        <!--<img class="mui-media-object mui-pull-right" src="http://placehold.it/40x30">-->
                        <div class="mui-media-body">
                         <a href="index.php?m=index&f=content&a=show&id=27">css3图片边框的属性 </a>
                            <p class="mui-ellipsis"> border-image-source：url（） 图片的路径 border-image-width  图片边框的宽度border-image-slice:在原图裁切的比例
border-image-outset：图片边框的偏移量</p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="list-group">
                <div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">喜欢书，喜欢书的味道，喜欢静静地摸书，喜欢把书成排放，喜欢读书时的万千思绪，喜欢抬头时洒在脸上的阳光……</a>
</div>
<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">这世界那么大，总会有我还不曾看过的风景，总会有我还不曾遇到的人，我都心怀向往。感谢这一趟旅行，让我不再执迷于无人之境的纯粹，让我领略到旅行故事的美好。</a>
</div>
<div class="alert alert-warning" role="alert">
  <a href="#" class="alert-link">一阵风起，叶子随风起舞，﻿或许它们还在唱歌，阳光下那红色的旋律，此刻正伴随我左右。想起路易斯L. 海书中所说：生活永不停滞，每一刻都是新生的、新鲜的”</a>
</div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">我们每个人都有不同程度的自卑感，因为我们都想让自己更优秀，让自己过更好的生活。自卑感的存在并不是一件坏事，因为它激励了人不断追求卓越，克服自身的障碍，在有限的生命空间内发挥出最大的价值。</a>
</div>
            </div>
        </div>
         
         
          <div class="col-sm-4 main-right">
            


            <div class="list-group">
                <a href="#" class="list-group-item active">
                    在线观看书籍
                </a>
                <a href="https://book.douban.com/subject/2308234/" class="list-group-item">《CSS权威指南》第三版</a>
                <a href="https://book.douban.com/subject/1921890/" class="list-group-item">《JavaScriptDOM编程艺术》 </a>
                <a href="https://book.douban.com/subject/10549733/" class="list-group-item">《JavaScript权威指南》第6版</a>
                <a href="http://www.jb51.net/books/92918.html" class="list-group-item">《锋利的jQuery》第二版</a>
                <!--<a href="https://book.douban.com/subject/2308234/" class="list-group-item">《CSS权威指南》第三版</a>
                <a href="https://book.douban.com/subject/1921890/" class="list-group-item">《JavaScriptDOM编程艺术》 </a>
                <a href="https://book.douban.com/subject/10549733/" class="list-group-item">《JavaScript权威指南》第6版</a>
                <a href="http://www.jb51.net/books/92918.html" class="list-group-item">《锋利的jQuery》第二版</a>-->
            </div>
        </div>
	</div>
</div>
</body>
</html>