<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{JS_PATH}/jquery.js"></script>
	<script src="{JS_PATH}/jquery.validate.js"></script>
	<script src="{JS_PATH}/jquery.metadata.js"></script>
	<script src="{JS_PATH}/reg.js"></script>
    <link rel="stylesheet" href="{CSS_PATH}/index/reg.css">
</head>
<body>
	<div class="box">
	    <h3>注&nbsp;册&nbsp;页</h3>
	    <form action="index.php?m=index&f=login&a=addReg" method="post" id="myform">
	        用&nbsp;&nbsp;户&nbsp;&nbsp;名:<input type="text" name="uname" autocomplete="off" id="name"><br><br>
	        密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码:<input type="text" name="upass" autocomplete="off" id="pass"><br><br>
	       	确认密码:<input type="text" name="upass2" autocomplete="off"/><br><br>
	       	验&nbsp;&nbsp;证&nbsp;&nbsp;码:<input type="text" name="code" size="10" autocomplete="off">
	        <img src="index.php?m=admin&f=index&a=code" alt="" width="70" height="32" onclick="this.src='index.php?m=admin&f=index&a=code&'+Math.random()" style="vertical-align:middle"><br><br>
	        <input type="submit" value="注册">
	    <br>
	    <span>
	    	已有用户名？请<a href="index.php?m=index&f=login&a=init">登陆</a> 
	    	<a href="index.php">返回主页</a>
	    </span>
	</form>
	   
	</div>
</body>
</html>