<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<input type="hidden" id="id" value="<%= id %>">
    <ul id="cate">
        <% for(let i=0;i<cates.length;i++){%>
        <li class="<%= cates[i].id==id?'active':''%>"><a  href="/?id=<%= cates[i].id%>"><%= cates[i].name%></a></li>
        <%}%>
    </ul>
    <ul id="news">
        <%for(let i=0;i<news.length;i++){%>
        <li><a href="<%= news[i].url%>"><%=news[i].title%></a></li>
        <%}%>
    </ul>
    <a href="javascript:void(0)" id="load_more">加载更多</a>
</body>
</html>
<script>
    var page=1;
    var load_more=document.getElementById('load_more');
//    console.log(load_more);
    var news = document.querySelector('#news');
    var id=document.getElementById('id');
    load_more.addEventListener('click',function(){
        page+=1;
        fetch('/news?page='+page+'&id='+id.value).then(function(res){
            return res.json();
        }).then(function(res){
            if (res.state == '200') {
                res.data.forEach(function (v) {
                    var li = document.createElement('li');
                    var a = document.createElement('a');
                    a.setAttribute('href', v.url);
                    a.innerHTML = v.title;
                    li.appendChild(a);
                    news.appendChild(li);
                })
            } else if (res.state == '400') {
                alert('没有更多');
            }
        })
    })
</script>